[Desktop Entry]
Type=Application
Exec=tijolo --no-fork %F
Name=Tijolo
GenericName=Lightweight, keyboard-oriented IDE for the masses
Terminal=false
Icon=io.github.hugopl.Tijolo
Categories=Development;IDE;
MimeType=text/plain;
Keywords=text;editor;code;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=tijolo --no-fork
