/* Unset key bindings */
@binding-set TextViewKeyBindings
{
  unbind "<Alt>Right";     /* move-words */
  unbind "<Alt>Left";      /* move-words */
  unbind "<Alt>Up";        /* move-lines */
  unbind "<Alt>Down";      /* move-lines */
  unbind "<Alt><Shift>Up"; /* move-viewport */
  unbind "<Alt><Shift>Down"; /* move-viewport */

  bind "<Ctrl><Shift>Up"   { "move-lines" (0) };
  bind "<Ctrl><Shift>Down" { "move-lines" (1) };
  bind "<Ctrl>Up"    { "move-viewport" (0, -1) };
  bind "<Ctrl>Down"  { "move-viewport" (0, 1) };
}

textview
{
  -gtk-key-bindings: TextViewKeyBindings;
  font: 9pt "JetBrainsMono Nerd Font", "Monospace";
}

@define-color tijolo_white #DCDCD1;
@define-color tijolo_white2 #C1C1AE;
@define-color tijolo_black #282923;
@define-color tijolo_black2 #303029;
@define-color tijolo_orange1 #D68505;
@define-color tijolo_orange2 #B37005;

popover {
  padding: 6px;
}

#welcome-window {
  color : @tijolo_white2;
  background-color: @tijolo_black;
}

#welcome-window treeview {
  color: @tijolo_white2;
  background-color: @tijolo_black2;
}

#welcome-window treeview:selected {
  color: @tijolo_black2;
  background: @tijolo_white2;
}


#tijolo-title {
  color: @tijolo_orange2;
  font-weight: bold;
  font-size: 18pt;
}

#tijolo-version {
  color: @tijolo_white;
  font-size: 7pt;
}

#ide-window, #welcome-window {
  font: 9pt "JetBrainsMono Nerd Font", "Monospace";
}

#locator entry {
  border-width: 1px;
  border-radius: 4px 4px 0px 0px;
  color: @tijolo_black;
  background-color: @tijolo_white2;
  caret-color: @tijolo_black2;
}

paned separator {
  background-color: alpha(#303029, 0.8);
  background-image: linear-gradient(transparent, transparent 1px, #999 1px, #999 4px, transparent 4px);
}

#no-view {
  padding: 4px 6px 4px 6px;
  margin: 0px;
  color: @tijolo_orange1;
  background-color: @tijolo_black;
}

.editor-header.selected {
  color: @tijolo_black;
  background-color: @tijolo_orange2;
}

.editor-header {
  color: @tijolo_orange2;
  background-color: @tijolo_black;
}

.editor-header button, .editor-header button:hover, .editor-header:checked {
  color: inherit;
  background: inherit;
  padding: 0;
  margin: 0px;
  border: none;
  text-shadow: none;
  box-shadow: none;
}

.tijolo-title {
  color: @tijolo_orange1;
}

#welcome-window treeview button, #ide-window treeview button {
  color: @tijolo_orange1;
  background-color: @tijolo_black;
  padding: 2px 6px 2px 6px;
  border: 0px;
}

#open_project_label {
  color: @tijolo_orange1;
  background-color: @tijolo_black;
  padding: 2px 6px 2px 6px;
  border: 0px;
  font-weight: bold;
}

#welcome-window entry, .command-bar entry {
  color: @tijolo_orange1;
  background-color: @tijolo_black2;
  caret-color: @tijolo_orange1;
  border: none;
  border-radius: 0;
  font-weight: normal;
}

#ide-window treeview {
  color: @tijolo_white2;
  background-color: @tijolo_black;
}

#ide-window treeview:selected {
  color: @tijolo_black;
  background: @tijolo_white2;
}

#output-pane textview text {
  color: @tijolo_white2;
  background-color: @tijolo_black;
}

#open-files {
  border: 1px solid @tijolo_orange1;
}

/* No view */
#no-view grid > box > box box > label {
  color: @tijolo_white;
}

#no-view grid > box label {
  color: @tijolo_orange1;
}

/* Notifications */
#notification-area {
  padding: 6px;
  border-width: 1px;
  border-radius: 4px 0px 0px 0px;
  color: @tijolo_black;
  background-color: @tijolo_white2;
}

.notification progressbar progress {
  background-color: @tijolo_black;
  min-height: 1px;
}

.notification progressbar trough {
  min-height: 3px;
  background-color: transparent;
}

.notification .icon {
  font-family: "Font Awesome 5 Free";
  font-size: 120%;
  margin-right: 6px;
}

.command-bar {
  color: @tijolo_orange1;
  background-color: @tijolo_black;
  padding: 6px;
  font-weight: bold;
}

messagedialog box box box label {
  font: 9pt "JetBrainsMono Nerd Font", "Monospace";
}

