box.selected {
  color: @accent_color;
}

#sidebar treeview {
  background-color: @window_bg_color;

}

#locator treeview {
  background-color: @popover_bg_color;
}

#locator treeview:selected {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}

.tjl-header button {
  border-radius: 0;
  padding: 1px;
}

textview
{
  font: 9pt "Monospace";
}
