box.selected {
  color: @accent_color;
}

#sidebar treeview {
  background-color: @window_bg_color;

}

#locator treeview {
  background-color: @popover_bg_color;
}

#locator treeview:selected {
  /*
    @accent_bg_color seems broken at some version of GTK/Adwaita
    So we hardcode here the color in the docs for dark theme... worst solution ever.
  */
  background-color: #3584e4;
  /*
    accent_fg_color seems broken as well
  */
  color: @accent_fg_color;
}

.tjl-header button {
  border-radius: 0;
  padding: 1px;
}

textview
{
  font: 9pt "Monospace";
}

codeeditor {
  font: 10pt "JetBrainsMono Nerd Font";
}
