box.selected {
  color: @accent_color;
}

#sidebar treeview {
  background-color: @window_bg_color;

}

#locator treeview {
  background-color: @popover_bg_color;
}

#locator treeview:selected {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}
